<h2 id="section-faq-1"><%= t('help.faq.question_one.title_html') %></h2>
<!-- <%= image_tag("/assets/help/error_msg.jpg", id: "help-error-msg-image", alt: "hubzone map error message") %> -->
<p><%= t('help.faq.question_one.body_html') %></p>
