<h2 id="section-heading-faq-3">Question 3</h2>
<p>Use the side navigation menu to help your users quickly skip to different sections of your page. The menu is best suited to displaying a hierarchy with one to three levels and, as we mentioned, to display the sub-navigation of a given page.</p>
<p>Read the full documentation on our side navigation on the component page.</p>
