<h2 id="section-faq-1"><%= t('help.faq.question_one.title_html') %></h2>
<p><%= t('help.faq.question_one.body_first_html') %></p>
<%= image_tag "help/error-message.png", id: "help-error-msg-image", alt: "hubzone map error message", style: "width: 30rem;" %>
<p><%= t('help.faq.question_one.body_second_html') %></p>
