<div class="usa-width-three-fourths usa-layout-docs-faq">
    <h2 id="section-heading-eligibility">Question 1</h2>
    <p>If you have the street address of a location of interest, simply enter it in the form at the top of the page.</p>
    <h2 id="section-heading-reporting">Question 2</h2>
    <p>The particulars of your body copy will be determined by the topic of your page. Regardless of topic, it’s a good practice to follow the inverted pyramid structure when writing copy: Begin with the information that’s most important to your users
        and then present information of less importance.</p>
    <p>Keep each section and subsection focused — a good approach is to include one theme (topic) per section.</p>
    <h2 id="section-heading-map-legend">Question 3</h2>
    <p>Use the side navigation menu to help your users quickly skip to different sections of your page. The menu is best suited to displaying a hierarchy with one to three levels and, as we mentioned, to display the sub-navigation of a given page.</p>
    <p>Read the full documentation on our side navigation on the component page.</p>
    <h2 id="section-heading-advanced">Question 4</h2>
    <p>Use the side navigation menu to help your users quickly skip to different sections of your page. The menu is best suited to displaying a hierarchy with one to three levels and, as we mentioned, to display the sub-navigation of a given page.</p>
</div>
