<h2 id="section-faq-1">What if the map can't complete my search?</h2>
<%= image_tag("/assets/help/error_msg.jpg", id: "help-error-msg-image", alt: "hubzone map error message") %>
<p>If you have the street address of a location of interest, simply enter it in the form at the top of the page.</p>
