<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <li>
            <a class="usa-current" href="javascript:void(0);">HUBZone Map Overview</a>
            <ul class="usa-sidenav-sub_list">
                <li>
                    <a href="#section-heading-eligibility">Determining Eligibility</a>
                </li>
                <li>
                    <a href="#section-heading-reporting">Providing Documentation to SBA</a>
                </li>
                <li>
                    <a href="#section-heading-map-legend">Understanding the Map</a>
                </li>
                <li>
                    <a href="#section-heading-advanced">Advanced features</a>
                </li>
            </ul>
        </li>
        <li>
          <a href="javascript:void(0);">Frequently Asked Questions</a>
          <ul class="usa-sidenav-sub_list">
              <li>
                  <a href="#section-heading-faq-1">Question 1</a>
              </li>
              <li>
                  <a href="#section-heading-faq-2">Question 2</a>
              </li>
              <li>
                  <a href="#section-heading-faq-3">Question 3</a>
              </li>
          </ul>
        </li>
    </ul>
</aside>
