<% page_open = 'usa-current'
   page_closed = 'usa-not-current'
   overview_status = ''
   faq_status = '' %>

<% if @page_selected == 'overview'
    overview_status = page_open
    faq_status = page_closed
   elsif @page_selected == 'faq'
    overview_status = page_closed
    faq_status = page_open
   end %>

<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <li>
            <a class=<%= overview_status %> href="/map/help">HUBZone Map Overview</a>
            <ul class="usa-sidenav-sub_list">
                <li>
                    <a href="/map/help#section-heading-eligibility">Determining Eligibility</a>
                </li>
                <li>
                    <a href="/map/help#section-heading-reporting">Providing Documentation to SBA</a>
                </li>
                <li>
                    <a href="/map/help#section-heading-map-legend">Understanding the Map</a>
                </li>
                <li>
                    <a href="/map/help#section-heading-advanced">Advanced features</a>
                </li>
            </ul>
        </li>
        <li>
          <a class=<%= faq_status %> href="/map/help/faq">Frequently Asked Questions</a>
          <ul class="usa-sidenav-sub_list">
              <li>
                  <a href="/map/help/faq#section-heading-faq-1">Question 1</a>
              </li>
              <li>
                  <a href="/map/help/faq#section-heading-faq-2">Question 2</a>
              </li>
              <li>
                  <a href="/map/help/faq#section-heading-faq-3">Question 3</a>
              </li>
              <li>
                  <a href="/map/help/faq#section-heading-faq-4">Question 4</a>
              </li>
          </ul>
        </li>
    </ul>
</aside>
