<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <li>
            <a class="usa-current" href="javascript:void(0);">HUBZone Map Overview</a>
            <ul class="usa-sidenav-sub_list">
                <li>
                    <a href="#section-heading-eligibility">Determining eligibility</a>
                </li>
                <li>
                    <a href="#section-heading-designations">Understanding designations</a>
                </li>
                <li>
                    <a href="#section-heading-features">Advanced features</a>
                </li>
            </ul>
        </li>
        <!-- <li>
          <a href="javascript:void(0);">Extra Page</a>
        </li> -->
    </ul>
</aside>
