<h2 id="section-map-legend">Understanding the Map</h2>
<%= image_tag("/assets/help/legend.jpg", id: "help-legend-image", alt: "hubzone map legend") %>
<p>Use the side navigation menu to help your users quickly skip to different sections of your page. The menu is best suited to displaying a hierarchy with one to three levels and, as we mentioned, to display the sub-navigation of a given page.</p>
<p>Read the full documentation on our side navigation on the component page.</p>
