<h2 id="section-map-legend"><%= t('help.legend.title') %></h2>
<%= image_tag("/assets/help/legend.jpg", id: "help-legend-image", alt: "hubzone map legend") %>
<p><%= t('help.legend.section.first') %></p>
<p><%= t('help.legend.section.second') %></p>
