<h2 id="section-eligibility"><%= t('help.elegibility.title_html') %></h2>
<!-- <%= image_tag("/assets/help/autocomplete.jpg", id: "help-autocomplete-image", alt: "hubzone map search autocomplete") %> -->
<p><%= t('help.elegibility.body_html') %></p>
