<h2 id="section-reporting"><%= t('help.reporting.title_html') %></h2>
<!-- <%= image_tag("/assets/help/report.jpg", id: "help-reporting-image", alt: "hubzone map printable reporting version") %> -->
<p><%= t('help.reporting.body_html') %></p>
