<h2 id="section-reporting"><%= t('help.reporting.title') %></h2>
<!-- <%= image_tag("/assets/help/report.jpg", id: "help-reporting-image", alt: "hubzone map printable reporting version") %> -->
<p><%= t('help.reporting.section.first_html') %></p>
<p><%= t('help.reporting.section.second_html') %></p>
