<h2 id="section-advanced"><%= t('help.advanced.title') %></h2>
<%= image_tag("/assets/help/advanced_controls.jpg", id: "help-advanced-image", alt: "hubzone map advanced controls and features") %>
<p><%= t('help.advanced.section.first') %></p>
<p><%= t('help.advanced.section.second') %></p>
