<h2 id="section-reporting"><%= t('help.reporting.title_html') %></h2>
<%= image_tag "help/printable-version.png", alt: "printable version icon", style: "width: 27rem; float: left; padding-right: 2rem;" %>
<p><%= t('help.reporting.body_html') %></p>
