<h2 id="section-eligibility"><%= t('help.elegibility.title_html') %></h2>
<p><%= t('help.elegibility.body_html') %></p>
<%= image_tag 'help/search-query.png', alt: 'hubzone search query', style: 'width: 50rem; padding-right: 1rem;' %>
<%= image_tag 'help/search-results.png', alt: 'hubzone search results', style: 'width: 23rem; padding-left: 1rem;' %>
