<div class="usa-grid-full map-guide-header">
  <%= link_to( "Back to map", map_path, id: "back_to_map") %>
</div>

<main class="usa-grid usa-section usa-content usa-layout-docs" id="hubzone-map-guide">
 <%= render partial: "navigation" %>
 <%= render partial: "overview" %>
</main>

<div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
</div>
