<div class="usa-grid map-guide-header">
  <div class="return-to-map">
    <%= link_to( "<i class='fa fa-share' aria-hidden='true'></i>Back to map".html_safe, map_path, id: "back-to-map") %>
  </div>
</div>

<main class="usa-grid usa-section usa-content usa-layout-docs" id="hubzone-map-guide">
 <%= render partial: "navigation" %>
 <%= render partial: "overview" %>
 <%= render partial: "faq" %>
</main>

<div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
</div>
