################################################################################
#                                                                              #
# Note: None of the keys in this file are to be used in a                      #
#       staging/production environment                                         #
#                                                                              #
################################################################################

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Rails Settings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Only set the RAILS_ENV if you want/need to force the system into a specific
# environment. Do not set this for daily development of the system.
#
# RAILS_ENV=development

# You can generate a new key via `rake secret`
#
SECRET_KEY_BASE='9a8e6968d809c05d559a8d09fae041ee6ed736f21c1a9240efd3192373effa77befb8c640fb31151b2e4b9ebd3a7a26442bf8fdb25f1d4311a1a07b600d6a6c9'

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HUBZone Settings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# HUBZone Map Settings ---------------------------------------------------------

# You should set your postgresql user/password.  Only uncomment and set the
# other variables if you need to override the defaults.

HUBZONE_MAP_DB_USER=
HUBZONE_MAP_DB_PASSWORD=
# HUBZONE_MAP_DB_HOST=
# HUBZONE_MAP_DB_NAME=
# HUBZONE_API_HOST=http://localhost:3001
# HUBZONE_REPORT_API_HOST=http://localhost:3002
# HUBZONE_REPORT_REQUEST_TYPE=ajax_get
# HUBZONE_WMS_WORKSPACE=hubzone
# HUBZONE_WMS_URL_ROOT=http://localhost:8080/geoserver/gwc/service/wms?

# Google Keys ------------------------------------------------------------------

HUBZONE_GOOGLE_API_KEY='AIzaSyBsR78bM2H5vMlO60MAtaL9FVtPGWGyQ7c' # Doug's
HUBZONE_GOOGLE_ANALYTICS_TRACKING_ID='UA-89111383-1' # Doug's
