<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county') %></h6>
  <h5><%= qualification["type"].blank? ? '--' : qualification["type"] %></h5>
</div>
<div class="designation-details-item">
  <h6><%= t('hubzone_assertions.additional_details.county_fips') %></h6>
  <h5><%= qualification["incident_description"].blank? ? '--' : qualification["incident_description"] %></h5>
</div>
