<% likely_designations.each do |designation| %>
  <div class="designation-details-item">
    <h6><%= t('hubzone_assertions.additional_details.' + designation['type']) %></h6>
    <h5>
      <%= designation["incident_description"].blank? ? '--' : designation["incident_description"] %>
      <%= designation["qda_declaration"].blank? ? '--' : designation["qda_declaration"] %>
    </h5>
  </div>
<% end %>
