@import "variables";

.layer-qct {
  background-color: #0D465C;
}
.layer-qct_e {
  background-color: #0D465C;
}
.layer-qct_brac {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cg%20fill%3D%27none%27%20fill-opacity%3D%271%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20width%3D%2716%27%20height%3D%2716%27%20fill%3D%27%23ffffff%27/%3E%3Ccircle%20cx%3D%278%27%20cy%3D%278%27%20r%3D%275%27%20fill%3D%27%230D465C%27/%3E%3C/g%3E%3C/svg%3E");
}
.layer-qct_r {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230D465C' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.layer-qnmc {
  background-color: #BA233F;
}
.layer-qnmc_a {
  background-color: #BA233F;
}
.layer-qnmc_ab {
  background-color: #BA233F;
}
.layer-qnmc_b {
  background-color: #BA233F;
}
.layer-qnmc_c {
  background-color: #BA233F;
}
.layer-qnmc_e {
  background-color: #BA233F;
}
.layer-qnmc_r {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23BA233F' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.layer-qnmc_brac {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cg%20fill%3D%27none%27%20fill-opacity%3D%271%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20width%3D%2716%27%20height%3D%2716%27%20fill%3D%27%23ffffff%27/%3E%3Ccircle%20cx%3D%278%27%20cy%3D%278%27%20r%3D%275%27%20fill%3D%27%23BA233F%27/%3E%3C/g%3E%3C/svg%3E");
}
.layer-indian_lands {
  background-color: #009DCD;
}
.layer-brac {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2716%27%20height%3D%2716%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cg%20fill%3D%27none%27%20fill-opacity%3D%271%27%20fill-rule%3D%27evenodd%27%3E%3Crect%20width%3D%2716%27%20height%3D%2716%27%20fill%3D%27%23ffffff%27/%3E%3Ccircle%20cx%3D%278%27%20cy%3D%278%27%20r%3D%275%27%20fill%3D%27%23000%27/%3E%3C/g%3E%3C/svg%3E");
}
.layer-qct_qda {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2720%27%20height%3D%2714%27%20viewBox%3D%270%200%2020%2014%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%230D465C%27%20stroke-width%3D%277%27%20d%3D%27M0.5%2C3.5%20L19.5%2C3.5%27%20stroke-linecap%3D%27square%27/%3E%3C/svg%3E");
}
.layer-qnmc_qda {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2720%27%20height%3D%2714%27%20viewBox%3D%270%200%2020%2014%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%23BA233F%27%20stroke-width%3D%277%27%20d%3D%27M0.5%2C3.5%20L19.5%2C3.5%27%20stroke-linecap%3D%27square%27/%3E%3C/svg%3E");
}
