@import 'variables';

.hubzone-search {
  position: absolute;
  top: 10px;
  z-index: 3;
  left: 1.6rem;
}
#search-field-small {
  background-color: $white;
  border: .5px solid $gray;
  border-right: none;
  height: 4rem;
  font-size: 2rem;
  color: $gray-dark;
  padding: 1rem 2em 1rem 0.7rem;
}
#search-field-small::-webkit-input-placeholder {
  color: $gray-dark;
}
#search-field-small::-moz-placeholder {
  color: $gray-dark;
  opacity: 1;
}
#search-field-small:-ms-input-placeholder {
  color: $gray-dark;
}
#hubzone-search-button {
  background-color: $gray-dark;
  background-size: 4rem;
  height: 4rem;
  float: left;
}
#search-field-small:not(:valid) ~ .clear-search {
  display: none;
}
button.clear-search {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  text-align: right;
  right: 7rem;
  top: .8rem;
  color: $gray-dark;
  font-size: 2.4rem;
}
button.clear-search:hover {
  color: $gray-dark;
}
.usa-search.usa-search-small [type="search"],
.usa-search.usa-search-small .usa-search-input {
  max-width: 100%;
}
.pac-container {
  background-color: $white;
  color: $gray-dark;
  border-top: none;
  border-radius: 0;
  margin-left: 1px;
}
.pac-icon {
  display: none;
}
.pac-item {
  font-family: $font-sans;
  color: $gray-dark;
  border: 0;
  padding: .4em 0 .4em 1.25em;
  font-size: 1.7rem;
}
.pac-matched {
  color: $gray-dark;
  font-weight: bold;
  font-size: 1.8rem;
}
.pac-item-query {
  color: $gray-dark;
  font-size: 1.8rem;
}
.pac-item-selected {
  background-color: $gray-lightest;
  color: $gray-dark;
}
.pac-item:hover {
  background-color: $gray-lightest;
  color: $gray-dark;
}
@media only screen and (max-width: 950px)  {
  .hubzone-search {
    top: 0;
    left: 0;
    width: 100%;
    border-left: none;
  }
  #search-field-small {
    border-left: none;
    padding-left: 0.5rem;
  }
  #map-search button {
    border-radius: 0;
  }
  .pac-container {
    margin-left: 0;
    border: none;
  }
  .pac-item {
    padding-left: .25rem;
  }
  button.clear-search {
    right: 5.6rem;
  }
}

@media screen and (min-width: 951px) {
  .usa-search.usa-search-small [type="search"],
  .usa-search.usa-search-small .usa-search-input {
    max-width: 100%;
    width: 50rem;
  }
  #hubzone-search-button{
    border-radius: 0 3px 3px 0;
    width: 6rem;
  }
}
