@import 'variables';
@import 'layers';

#legend {
  font-family: $font-sans;
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
  background-color: $white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.29);
  box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.29);
}
.legend-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem ;
}
.legend-header h3 {
  margin: 0;
  padding: 0;
  color: $gray-dark;
}
.legend-button {
  float: right;
  color: $gray-dark;
  margin-left: 1rem;
  margin-top: 0.35rem;
  font-size: 1.8rem;
}
.legend-content {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 1.2rem;
  box-shadow: inset 0px 1px 0 0px $gray-lighter;
}
.legend-list-title {
  color: $gray-dark;
  font-size: 1.6rem;
  padding-right: 0;
}
.legend-item label {
  margin-top: 0.3rem;
  display: flex;
}
.legend-layer-symbols {
  width: 3rem;
  height: 3rem;
}
.no-toggle {
  padding-left: 2.7rem;
}
[type="checkbox"]:checked + label::before,
[type="radio"]:checked + label::before {
  background-color: $white;
  box-shadow: 0 0 0 2px $gray-dark;
}

[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $gray-dark;
}

[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px $gray-dark;
}

@media only screen and (max-width: 950px)  {
  #legend.zero-results{
    bottom: 16rem !important;
  }
}
