@import 'variables';

#sba-logo {
  max-width: 8.5rem;
  float: left;
  padding-top: .7rem;
}
.usa-header {
  border-bottom: none;
}
.usa-logo-text a > h1 {
  font-family: $font-sans;
  font-size: 3.5rem;
  font-weight: 700;
  color: $gray-dark;
  float: left;
  clear: none;
  margin: 0 0 0 2rem;
  padding: 0;
}
.usa-nav-secondary-links li:not(:last-child)::after {
  content: none;
}
.usa-nav-secondary-links > li {
  padding-left: 2.5rem;
}
.usa-banner-inner {
  max-width: 100%;
  padding-left: 1.5rem;
  paddin-right: 0rem;
}
.usa-header-extended .usa-logo {
  margin-top: .7rem;
  margin-bottom: .7rem;
}
.usa-header-extended .usa-nav {
  border-top: none;
}
.usa-header-extended .usa-navbar {
  max-width: 100%;
  padding-left: 1.5rem;
  border-bottom: 2px solid $gray-lighter;
}
@media only screen and (min-width: 950px) {
  .usa-nav-secondary {
    position: absolute;
    right: 2rem;
    top: -4.5rem;
  }
  .usa-header-extended .usa-nav-inner {
    max-width: 100%;
  }
}
@media only screen and (max-width: 950px)  {
  #sba-logo {
    max-width: 6rem;
    padding-top: 1rem;
  }
  #map-search button {
    background-size: 3.5rem;
  }
  .usa-navbar {
    border-bottom: none;
  }
  .usa-nav-secondary {

  }
  .usa-banner {
    display: none;
  }
  .usa-menu-btn {
    display: block;
  }
  .usa-logo {
    margin-left: .5rem;
  }
  .usa-header-extended .usa-navbar {
    padding-left: 0rem;
    border: none;
  }
  .usa-header-extended .usa-logo {
    margin-top: 0rem;
  }
  .usa-logo-text a > h1 {
    margin: 0.7rem 0 0 1rem;
    font-size: 2.2rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 480px) {
  .usa-unstyled-list > li {
    margin: 1em 0;
  }
  .usa-banner {
    display: none;
  }
}
