// Place all the styles related to the Help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#hubzone-map-guide {
  // padding-top: 2rem;
  padding-left: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}


@media only screen and (max-width: 950px)  {

}
