/* Top Level Navigation */
img#sba-logo {
  max-width: 11rem;
  float: left;
}
.usa-logo-text a {
  font-size: 3.6rem;
  float: left;
  margin-top: .4rem;
  margin-left: 3rem;
}
.usa-navbar {
  border-bottom: none;
}
.usa-nav-secondary {
  top: -5.3rem;
}

/* Map Inputs/Navigation */
#map-search input#search-field-small {
  background-color: #1A406E;
  border: 0px;
  height: 5.3rem;
  font-size: 2.7rem;
  color: #fff;
}
#map-search input#search-field-small::-webkit-input-placeholder {
  color: #efefef;
}
#map-search input#search-field-small::-moz-placeholder {
  color: #efefef;
}
#map-search input#search-field-small:-ms-input-placeholder {
  color: #efefef;
}
#map-search button {
  background-color: #0071BB;
  background-size: 45px;
  height: 5.3rem;
  float: left;
}
.usa-search.usa-search-small [type="search"],
.usa-search.usa-search-small .usa-search-input {
  max-width: 100%;
}
button#filter-button {
  height: 100%;
  border: 3px solid #1A406E;
  margin-right: 1em;
  color: #fff;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
  background-image: none;
}
button#filter-button:hover {
  height: 100%;
  border: 3px solid #fff;
  margin-right: 1em;
  background-color: #fff;
  color: #0071BB;
}
button#filter-button:focus {
  height: 100%;
  border: 3px solid #fff;
  background-color: #fff;
  margin-right: 1em;
  color: #0071BB;
}
.usa-nav-primary > li:first-child {
  height: 5.3rem;
  float: left;
  margin-left: 0rem;
}
.usa-nav-submenu {
  z-index: 3;
}
ul.hubzone-filter-menu {
  background-color: #fff;
  width: 27rem;
  padding: 1rem 2rem 2rem 3rem;
}
ul.hubzone-filter-menu li {
  background-color: #fff;
}
ul.hubzone-filter-menu a {
  background-color: #fff;
}
ul.hubzone-filter-menu label {
  margin-top: 1.5rem;
  color: #0071BB;
}

/* Map Sidebar */
#sidebar{
  position: absolute;
  background-color: #fff;
  right: -38rem;
  height: 100%;
  width: 38rem;
  transition-duration: 400ms;
  z-index: 2;
}
#sidebar.on {
  right: 0em;
}
#sidebar-button {
  position: absolute;
  margin-left: -3.4rem;
  margin-top: 2.3rem;
  padding: 2rem .5rem 2rem 0.8rem;
  z-index: 2;
  border-radius: 4px 0px 0px 4px;
  font-size: 3rem;
}
.sidebar-search-address {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
  color: #112E51;
  min-height: 12rem;
  width: 100%;
  padding: 2rem;
  display: table;
}
.sidebar-search-address i.fa.fa-map-marker {
  position: absolute;
  font-size: 6rem;
  left: 2.2rem;
  top: 3rem;
}
.sidebar-search-address h2#search-address {
  font-family: inherit;
  font-size: 2.8rem;
  font-weight: normal;
  padding: 0rem 2rem 0rem 5rem;
  display: table-cell;
  vertical-align: middle;
}
.sidebar-hubzone-status {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
  background-color: #112E51;
  min-height: 10rem;
  padding: 2.5rem 2rem 2.5rem 2rem;
  width: 100%;
  color: #fff;
}
.sidebar-hubzone-status h2#hubzone-status {
  font-family: inherit;
  font-size: 3.2rem;
  margin: 0.4rem 0rem 0rem 5.5rem;
}
.sidebar-hubzone-status i.fa.fa-times-circle-o, i.fa.fa-check-circle-o {
  position: absolute;
  float: left;
  font-size: 5rem;
}

/* Map Body */
.map-body {
  position: absolute;
  width: 100%;
  height: calc(100% - 176px);
}
#map {
  height: 100%;
  width: 100%;
}

/* Desktop/Tablet */
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-nav-inner {
    margin-top: 0px;
  }
  .map-header {
    padding-top: .6em;
    padding-bottom: .4em;
    background: #122E51;
    border-bottom: 1px solid #AFB0B5;
  }
  .usa-search.usa-search-small [type="search"],
  .usa-search.usa-search-small .usa-search-input {
    max-width: 100%;
    width: 50rem;
  }
  .usa-header-extended .usa-nav {
    border-top: none;
  }
  .usa-header-extended .usa-logo {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #map-search button{
    border-radius: 0px 4px 4px 0px;
    width: 7rem;
  }
}

/* Phone */
@media only screen and (max-width: 950px)  {
  img#sba-logo {
    max-width: 7.6rem;
    padding-top: .3rem;
  }
  .usa-grid {
    padding: 0em;
    width: 100%;
  }
  .usa-logo-text a {
    margin: 0rem 0rem 0rem 2rem;
    padding: 0rem;
    font-size: 2.2rem;
  }
  .hubzone-filter {
    display: none;
  }
  .map-body {
    height: calc(100% - 116px);
  }
}
