/* Top level navigation */
.hidden {
  display: none;
}
#sba-logo {
  max-width: 10rem;
  float: left;
  padding-top: .3rem;
}
.usa-header {
  border-bottom: none;
}
.usa-logo-text a > h1 {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  color: #5b616b;
  float: left;
  clear: none;
  margin: 0 0 0 2rem;
  padding: 0;
}
.usa-navbar {
  border-bottom: none;
}
.usa-nav-secondary {
  top: -4.5rem;
}
.usa-nav-secondary-links li:not(:last-child)::after {
  content: none;
}
.usa-nav-secondary-links > li {
  padding-left: 2.5rem;
}

/* Map inputs and controls */
.hubzone-search {
  position: absolute;
  top: 10px;
  z-index: 3;
  left: 1.6rem;
}
#search-field-small {
  background-color: #1a406e;
  border: 0;
  height: 4.4rem;
  font-size: 2.2rem;
  color: #fff;
}
#search-field-small::-webkit-input-placeholder {
  color: #efefef;
}
#search-field-small::-moz-placeholder {
  color: #efefef;
}
#search-field-small:-ms-input-placeholder {
  color: #efefef;
}
#map-search button {
  background-color: #0071bb;
  background-size: 4.2rem;
  height: 4.4rem;
  float: left;
}
.usa-search.usa-search-small [type="search"],
.usa-search.usa-search-small .usa-search-input {
  max-width: 100%;
}
.pac-container {
  background-color: #1a406e;
  color: #fff;
  border: 0;
}
.pac-icon {
  display: none;
}
.pac-item {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
  color: #fff;
  border: 0;
  padding: .5em 0 .5em 1.5em;
  font-size: 1.7rem;
}
.pac-matched {
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
}
.pac-item-query {
  color: #fff;
  font-size: 1.8rem;
}
.pac-item-selected {
  background-color: #0071bb;
  color: #fff;
}
.pac-item:hover {
  background-color: #0071bb;
  color: #fff;
}

#filter-button {
  display: none;
  height: 100%;
  border: 3px solid #1a406e;
  margin-right: 1em;
  color: #fff;
  padding-top: 1.1rem;
  padding-left: 2.5rem;
  background-image: none;
}
#filter-button:hover {
  height: 100%;
  border: 3px solid #fff;
  margin-right: 1em;
  background-color: #fff;
  color: #0071bb;
}
#filter-button:focus {
  height: 100%;
  border: 3px solid #fff;
  background-color: #fff;
  margin-right: 1em;
  color: #0071bb;
}
.usa-nav-primary > li:first-child {
  height: 4.4rem;
  float: left;
}
.usa-nav-submenu {
  z-index: 3;
}
ul.hubzone-filter-menu {
  background-color: #fff;
  width: 27rem;
  padding: 1rem 2rem 2rem 3rem;
}
ul.hubzone-filter-menu li {
  background-color: #fff;
}
ul.hubzone-filter-menu a {
  background-color: #fff;
}
ul.hubzone-filter-menu label {
  margin-top: 1.5rem;
  color: #0071bb;
}
li.hubzone-map-print {
  float: right;
  cursor: pointer;
}
li.hubzone-map-print a {
  color: #fff;
  padding-right: 0;
}
.gm-iv-address {
  height: auto !important;
}


/* Map Legend */
#legend {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
  font-size: 1.5em;
  background-color: #fff;
  border: .5px solid #aeb0b5;
  border-radius: 4px;
  margin: 0 0 .8em 0.3em;
  padding: .6em;
}
#legend ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
#legend i {
  padding-right: .5em;
}
.legend-qualified {
  color: #377EB8;
}
.legend-expiring {
  color: #343434;
}

/* Map sidebar */
#sidebar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  right: -34rem;
  height: 100%;
  width: 34rem;
  transition-duration: 400ms;
  z-index: 2;
}
#sidebar.on {
  right: 0;
}
#sidebar-button {
  position: absolute;
  margin-left: -3.4rem;
  margin-top: 2.3rem;
  padding: 2rem .5rem 2rem 0.8rem;
  z-index: 2;
  border-radius: 4px 0 0 4px;
  font-size: 3rem;
}
.sidebar-search-address {
  position: relative;
  width: 90%;
  min-height: 4em;
  margin: 1rem auto 1rem auto;
  padding: 1.5rem 0 1.5rem 0;
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  display: table;
}
.sidebar-search-address h2 {
  display: table-cell;
  vertical-align: middle;
  top: 1rem;
  max-width: 11rem;
  margin: 0;
  padding-right: 1rem;
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #112e51;
}
.sidebar-search-address .fa.fa-map-marker {
  position: relative;
  left: 2rem;
  font-size: 4.5rem;
  color: #112e51;
}
#hubzone-status {
  float: left;
  font-size: 2.4rem;
  font-weight: normal;
  padding-left: 0.8rem;
}
.qualified-hubzone {
  background-color: #2e8540;
  color: #fafafa;
}
.non-qualified-hubzone {
  background-color: #5b616a;
  color: #fafafa;
}
.hubzone-status-indicator .fa.fa-times-circle-o, .fa.fa-check-circle-o {
  float: left;
  font-size: 4rem;
}
.sidebar-qualifications {
  width: 90%;
  min-width: auto;
  margin: 0 auto;
  border-radius: 6px;
  border-collapse: separate;
  border: 1px solid #f1f1f1;
  overflow: hidden;
}
.sidebar-qualifications thead th {
  border: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.sidebar-qualifications tbody th {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  font-size: 1.5rem;
  font-weight: bold;
}
.sidebar-qualifications th > span {
  float: right;
  font-weight: normal;
}
.sidebar-qualifications tfoot tr td{
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-top: none;
  border-radius: 0 0 6px 6px;
  font-size: 1.5rem;
}
.hubzone-status-date {
  font-weight: normal;
  font-size: 1.3rem;
  padding-left: 2px;
}


/* Google Maps Controls */
.gm-svpc {
  transition-duration: 400ms;
}
.gmnoprint {
  transition-duration: 400ms;
}
.gm-sidebar-on {
  left: -34rem !important;
}
.gm-iv-address-link a {
  font-size: 9px !important;
}

/* Map body */
.map-body {
  position: absolute;
  width: 100%;
  height: calc(100% - 85px);
}

#map {
  height: 100%;
  width: 100%;
}

/*
** Responsive Queries
*/
/* Large for tablet and desktop */
@media screen and (min-width: 951px) {
  .usa-header-extended .usa-navbar {
    max-width: 100%;
    padding: 0 2rem 0 2rem;
  }
  .usa-header-extended .usa-nav-inner {
    margin-top: 0;
    max-width: 100%;
  }
  .usa-banner-inner {
    max-width: 100%;
    padding: 0 2rem 0 2rem;
  }
  .usa-grid {
    max-width: 100%;
  }
  .map-header {
    height: 5.55rem;
    padding-top: .55rem;
    background: #122e51;
    border-bottom: none;
  }
  .usa-search.usa-search-small [type="search"],
  .usa-search.usa-search-small .usa-search-input {
    max-width: 100%;
    width: 50rem;
  }
  .usa-header-extended .usa-nav {
    border-top: none;
  }
  .usa-header-extended .usa-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #map-search button {
    border-radius: 0 4px 4px 0;
    width: 7rem;
  }
}

/* Medium for phones */
@media only screen and (max-width: 950px)  {
  #sba-logo {
    max-width: 7.6rem;
    padding-top: .6rem;
  }
  #map-search button {
    background-color: #1a406e;
    background-size: 3.5rem;
  }
  .usa-banner-header {
    padding-left: .5rem;
  }
  .usa-logo {
    margin-left: .5rem;
  }
  .usa-grid {
    padding: 0;
    width: 100%;
  }
  .usa-logo-text a > h1 {
    margin: 0 0 0 2rem;
    padding: 0.5rem 0 0 0 ;
    font-size: 2.2rem;
    font-weight: 400;
  }
  .hubzone-filter {
    display: none;
  }
  .map-body {
    height: calc(100% - 60px);
  }
  #sidebar-button {
    display: none;
  }
  #sidebar {
    width: 100%;
    height: 11rem;
    bottom: 10rem;
  }
  .sidebar-search-address {
    min-height: 11rem;
  }
  .hubzone-map-print {
    display: none;
  }
}

/* Small for small phones and devices */
@media only screen and (max-width: 480px) {
  .map-body {
    height: calc(100% - 40px);
  }
  .usa-banner {
    display: none;
  }
}


/* Printing styles */
@media print {
  .usa-banner {
    display: none;
  }
  .usa-nav-primary > li {
    border: 0;
  }
  .usa-nav-primary > li:first-child {
    height: auto;
  }
  section.map-header {
    margin: 0;
    padding: 0;
    width: 500px;
    left: 0;
  }
  .usa-grid {
    padding: 1em 0 1em 0;
    margin: 0;
  }
  .usa-menu-btn {
    display: none;
  }
  .pac-container {
    display: none;
  }
  #map-print {
    display: none;
  }
  #sidebar-button {
    display: none;
  }
}
.map-body.printable-map {
  width: 450px;
  height: 450px;
}
