<div class="sidebar-card local-information">
  <div class="local-information-data">
    <div id="local-information-button" class="usa-accordion-button local-information" aria-label="Expand Local Information details">
      <span class="local-information-title">
        <%= t('sidebar.local_information.title') %>
      </span>
      <span class="local-information-expand show" data-action="show" data-cookie="hz-sidebar-li-open" data-expands="sidebar-other-information">
        <%= t('sidebar.local_information.show') %>
      </span>
      <span class="local-information-expand hide" data-action="hide" data-cookie="hz-sidebar-li-open" data-expands="sidebar-other-information" hidden>
        <%= t('sidebar.local_information.hide') %>
      </span>
    </div>
    <div class="sidebar-other-information">
      <% if other_information["congressional_district"] && other_information["congressional_district"][0] %>
        <%= render partial: 'governors/additional_details/congressional_district', locals: {congressional_district: other_information["congressional_district"][0]} %>
      <% end %>
    </div>
  </div>
</div>

