<div class="usa-alert usa-alert-info" style="margin-top:0;">
  <div class="usa-alert-body">
    <h4 class="usa-alert-heading">ALERT! HUBZone Map changes happen on July 1, 2023.</h4>
    <p class="usa-alert-text">
      View the <a class="usa-link" href="https://preview-maps.certify.sba.gov">official preview map</a> now.
    </p>
    <p>While SBA is working on the display of the HUBZone map layers, you can still insert your address in the Address Search bar and receive a determination regarding your status.
    </p>
  </div>
</div>