<div class="usa-alert usa-alert-info" style="margin-top:0;padding:5px;background-position:1rem 0.5rem;background-size:4rem">
  <div class="usa-alert-body">
    <h5 class="usa-alert-heading">
    View an instructional video here: <a target="_blank" href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DAaFtTbcNE-c&data=05%7C01%7Cesin%40oasysic.com%7C5e45c27e3fb5470e3d2a08db86bfc5b6%7C41e8891a93a6435688cf53b403d5418a%7C0%7C0%7C638251930494598878%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=SndHwdaMlH%2FgGOYwzQfw4o%2FflXJ5F3f9Mf9%2F4QG9fdk%3D&reserved=0"> Navigate the updated HUBZone map - YouTube</a>
    </h5>
  </div>
</div>