<div class="usa-alert usa-alert-info" style="margin-top:0;">
  <div class="usa-alert-body">
    <h4 class="usa-alert-heading">ALERT! The HUBZone Map was updated on July 1st, 2023.</h4>
    <p class="usa-alert-text">
      View the <a class="usa-link" href="https://maps.certify.sba.gov">View the current map now</a> now.
    </p>
  </div>
</div>