<div class="usa-alert usa-alert-info" style="margin-top:0;padding:5px;background-position:1rem 0.5rem;background-size:4rem">
  <div class="usa-alert-body">
    <h5 class="usa-alert-heading">
    View an instructional video here: <a target="_self" href="/hubzone/map/help#navigate-updated-map"> Navigate the updated HUBZone map</a>
    </h5>
  </div>
</div>