<div class="unsupported-browser">
  <div class="unsupported-browser-header">
    <%= image_tag("sba-logo.png", class: "ub-sba-logo") %>
    <h2>HUBZone Map</h2>
  </div>
  <div class="unsupported-browser-body">
    <%= image_tag("sad-hubzone-map.png") %>
    <h2>Your browser is not supported</h2>
    <h4>We recommend updating to the latest version of Edge, Firefox, Safari, or Chrome.</h4>
  </div>
</div>
