<div class="notification-popup geolocation">
  <i class="geolocation-error-button fa fa-times"></i>
  <%= t('notification-popup.geolocation') %>
  <%= link_to( t('menu.help'),
      help_path,
      'aria-label': t('menu.help'),
      id: "map-help-guide-geolcation-error",
      onclick: "HZApp.GA.openLink( '#{help_path}', 'map', 'help-link-geolocation-error' );" ) %>.
</div>
