
<div class="ext-evaluation">
  <div class="ext-evaluation-data">
    <div id="local-information-button" style="padding-left:10px" class="ext-evaluation-title" aria-label="Expand Local Information details">
      <span class="ext-evaluation-title">
        <%= t('sidebar.next_evaluation.title') %>
      </span>
      <span class="ext-evaluation-expand show" data-action="show" data-cookie="hz-sidebar-li-open" data-expands="sidebar-others-information">
        <%= t('sidebar.next_evaluation.show') %>
      </span>
      <span class="ext-evaluation-expand hide" data-action="hide" data-cookie="hz-sidebar-li-open" data-expands="sidebar-others-information" hidden>
        <%= t('sidebar.next_evaluation.hide') %>
      </span>
    </div>
    <div class="sidebar-others-information">
    <div class="other-information details-row ext-evaluation-detail" hidden>
         <%= t('sidebar.next_evaluation.detail') %>
         </div>
    </div>
  </div>
</div>



