<div id="<%= qualification['hz_type'] %>" class="designation-row">
  <div class="usa-alert usa-alert-info likely-qda" tabindex="13">
    <div class="usa-alert-body"">
      <h3 class="usa-alert-heading"><%= t('hubzone_assertions.likely_qda.title') %></h3>
      <p class="usa-alert-text"><%= t('hubzone_assertions.likely_qda.body') %>.</p>
    </div>
  </div>
</div>
