<div id="<%= qualification['hz_type'] %>" class="designation-row">
<div class="usa-alert usa-alert-info likely-qda-info" tabindex="13" style="margin: 0;padding: 10px 10px 10px 0px;background-size: 4rem;background-position-x: 0px;background-position-y: 15px;">
  <div class="usa-alert-body" style="padding-left: 5rem;">
    <h3 class="usa-alert-heading" style="font-size: 1.6rem;">Likely Disaster Area Designation</h3>
    <p class="usa-alert-text" style="line-height: inherit;">Due to recent natural disasters, this area may change designations in the future. More information can be found on the <a>help page.</a></p>
  </div>
</div>
</div>
