<div class="sidebar-card local-information">
  <div class="local-information-data">
    <div id="local-information-button" class="usa-accordion-button local-information" aria-label="Expand Local Information details">
      <span class="local-information-title">
        <%= t('sidebar.local_information.title') %>
      </span>
      <span class="local-information-expand show" data-action="show">
        <%= t('sidebar.local_information.show') %>
      </span>
      <span class="local-information-expand hide" data-action="hide" hidden>
        <%= t('sidebar.local_information.hide') %>
      </span>
    </div>
    <div class="sidebar-other-information">
    </div>
  </div>
</div>
