<!-- Sidebar goes here -->
<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li class=""><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
            <h1 class="sidebar-header">
                HUBZone Map Sidebar Draft
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <h2 id="search-address" class="hubzone-sidebar-address">
            </h2>
            <h2 id="hubzone-status" class="hubzone-sidebar-qualification">
            </h2>
            <p></p>
        </div>
    </div>
</div>
