<ul>
  <li id="legend-header" class="open">
    <div id="legend-header-title-hidden" class="legend-title" style="display: none;">Legend</div>
    <div id="legend-button-div">
      <i id="hide-legend-button" class="fa fa-chevron-down" aria-hidden="true"></i>
      <i id="show-legend-button" class="fa fa-chevron-up" aria-hidden="true" style="display: none;"></i>
    </div>
  </li>
  <div class="legend-title">Qualified HUBZones</div>
  <li class="legend-item">
    <input type="checkbox" name="qct" value="qct" checked="">
    <label for="qct">
      <div class="legend-layer-symbols layer-qct"></div>Census Tract
    </label>
  </li>
  <li class="legend-item">
    <input type="checkbox" name="qnmc" value="qnmc" checked="">
    <label for="qnmc">
      <div class="legend-layer-symbols layer-qnmc"></div>County
    </label>
  </li>
  <li class="legend-item">
    <input type="checkbox" name="indian_lands" value="indian_lands" checked="">
    <label for="indian_lands">
      <div class="legend-layer-symbols layer-indian_lands"></div>Indian Lands
    </label>
  </li>
  <div class="legend-title">Expiring HUBZones</div>
  <li class="legend-item">
    <input type="checkbox" name="redesignated" value="redesignated" checked="">
    <label for="redesignated">
      <div class="legend-layer-symbols layer-qct_r"></div>
      <div class="legend-layer-symbols layer-qnmc_r"></div>Redesignated
    </label>
  </li>
  <li class="legend-item">
    <input type="checkbox" name="brac" value="brac" checked="">
    <label for="brac">
      <div class="legend-layer-symbols layer-qct_b"></div>
      <div class="legend-layer-symbols layer-qnmc_brac"></div>
      <div class="legend-layer-symbols layer-brac"></div>Closed Base Area
    </label>
  </li>
</ul>
