<section class="map-body">
  <div id="sidebar" class="hidden">
    <button id="sidebar-button" class="usa-button"><i class="fa fa-chevron-left"></i></button>
    <div id="sidebar-content" class="sidebar-content">
      <%= render partial: "map_sidebar", locals: {body: nil} %>
    </div>
  </div>
  <div id="map" class="sidebar-map"></div>
  <div id="legend">
    <ul>
      <li class="legend-qualified"><i class="fa fa-square" aria-hidden="true"></i>Qualified</li>
      <li class="legend-expiring"><i class="fa fa-square" aria-hidden="true"></i>Expiring</li>
    </ul>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpZgPsZxJzCFXoLpduWMeDRssxFKr6kR0&callback=initMap&libraries=places" async=""></script>
</section>
