<section class="map-body">
  <%= render "map_sidebar" %>
  <div id="map" class="sidebar-map"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpZgPsZxJzCFXoLpduWMeDRssxFKr6kR0&callback=initMap" async=""></script>
</section>