<!DOCTYPE html>
<html>
  <head>
    <title>GoogleMaps API Demo</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <%= javascript_include_tag "hzmap" %>
    <%= javascript_include_tag "google-maps-api.js" %>
    <%#
    <script type="text/javascript" src="./js/google-maps-api.js"></script>
    %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application" %>
    <%#
    <link rel="stylesheet" href="./css/uswds.min.css">
    <link rel="stylesheet" href="./css/main.css">
    %>
    <meta charset="utf-8">
  </head>
  <body>
<!--     <div id="header">
        <div id="search-control-ui">
          <p>Enter a query to geocode, or click on the map to reverse geocode.</p>
          <input id="query-input" autofocus="">
          <input id="geocode-button" type="button" value="Geocode" onclick="geocode();">
        </div>
        <div id="geocodingResultContainer">
          <h4>Geocoding Results</h4>
          <div id="geocodingResults"></div>
        </div>
    </div> -->
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpZgPsZxJzCFXoLpduWMeDRssxFKr6kR0&callback=initMap"
    async defer></script>
    <%= javascript_include_tag "application" %>
    <%#
    <script src="./js/uswds.min.js"></script>
    %>
  </body>
</html>
