<div class="hubzone-guide">
    <div class="hubzone-guide-header">
        <h2>HUBZone Map Help</h2>
    </div>
    <div class="hubzone-guide-body">
        <h4>The HUBZone Mapping Application assists you in finding out whether or not a particular business location or employee residential location is within a HUBZone. You can also use HUBZone Mapping to find out what HUBZone areas are found within a
            larger area of interest.</h4>
    </div>
</div>
