var responseBody = JSON.parse('<%= @body.html_safe %>');
var addressContent = '';
var hubzoneStatusIndicator = '';
var hubzoneStatus = '';
var geocodeLocation = null;
var hubzoneStatusIndicator = '';
$('#hubzone-qualifications').html('');


if (responseBody.http_status === 400){
  addressContent = 'An error occurred!';
  hubzoneStatusIndicator = 'fa fa-times-circle-o';
} else if (responseBody.status === 'ZERO_RESULTS') {
  addressContent = 'No location returned for this address';
  hubzoneStatusIndicator = 'fa fa-times-circle-o';
} else {
  geocodeLocation = responseBody.geometry.location;
  addressContent = responseBody.formatted_address;
  if (responseBody.hubzone.length > 0){
    hubzoneStatusIndicator = 'fa fa-check-circle-o';
    hubzoneStatus = 'Qualified HUBZone';
    responseBody.hubzone.forEach(function(hubzone){
      $('#hubzone-qualifications').append('<li class="hubzone-qualification"> Qualified by ' + hubzone.hz_type + "</li>");
    });

  } else {
    hubzoneStatusIndicator = 'fa fa-times-circle-o';
    hubzoneStatus = 'Not Qualified HUBZone';
  }
  jumpToLocation(responseBody.geometry.viewport);
}

$('#search-address').html('<i class="fa fa-map-marker" aria-hidden="true"></i>' + addressContent);
$('#hubzone-status').html(hubzoneStatus);
$('.hubzone-status-indicator i').removeClass();
$('.hubzone-status-indicator i').addClass(hubzoneStatusIndicator);
sidebar.open();
updateMarkers(geocodeLocation);
